body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:796px;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:796px;
}
#u1 {
  position:absolute;
  left:2px;
  top:390px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:205px;
}
#u2 {
  position:absolute;
  left:1px;
  top:0px;
  width:374px;
  height:205px;
}
#u3 {
  position:absolute;
  left:2px;
  top:94px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFC600;
}
#u4 {
  position:absolute;
  left:12px;
  top:148px;
  width:212px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFC600;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFC600;
}
#u6 {
  position:absolute;
  left:12px;
  top:179px;
  width:129px;
  height:16px;
  color:#FFC600;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u8 {
  position:absolute;
  left:307px;
  top:40px;
  width:61px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:70px;
}
#u11 {
  position:absolute;
  left:12px;
  top:271px;
  width:80px;
  height:70px;
}
#u12 {
  position:absolute;
  left:2px;
  top:27px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFC600;
  text-align:center;
}
#u13 {
  position:absolute;
  left:12px;
  top:314px;
  width:80px;
  height:16px;
  color:#FFC600;
  text-align:center;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u15 {
  position:absolute;
  left:39px;
  top:285px;
  width:26px;
  height:26px;
}
#u16 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u17 {
  position:absolute;
  left:325px;
  top:5px;
  width:35px;
  height:35px;
}
#u18 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:70px;
}
#u20 {
  position:absolute;
  left:103px;
  top:271px;
  width:80px;
  height:70px;
}
#u21 {
  position:absolute;
  left:2px;
  top:27px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFC600;
  text-align:center;
}
#u22 {
  position:absolute;
  left:105px;
  top:314px;
  width:77px;
  height:16px;
  color:#FFC600;
  text-align:center;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u24 {
  position:absolute;
  left:130px;
  top:285px;
  width:26px;
  height:26px;
}
#u25 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:70px;
}
#u27 {
  position:absolute;
  left:195px;
  top:271px;
  width:80px;
  height:70px;
}
#u28 {
  position:absolute;
  left:2px;
  top:27px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFC600;
  text-align:center;
}
#u29 {
  position:absolute;
  left:197px;
  top:314px;
  width:78px;
  height:16px;
  color:#FFC600;
  text-align:center;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u31 {
  position:absolute;
  left:223px;
  top:285px;
  width:26px;
  height:26px;
}
#u32 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:70px;
}
#u34 {
  position:absolute;
  left:286px;
  top:271px;
  width:80px;
  height:70px;
  color:#FFC600;
}
#u35 {
  position:absolute;
  left:2px;
  top:27px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFC600;
  text-align:center;
}
#u36 {
  position:absolute;
  left:288px;
  top:314px;
  width:76px;
  height:16px;
  color:#FFC600;
  text-align:center;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u38 {
  position:absolute;
  left:313px;
  top:285px;
  width:26px;
  height:26px;
}
#u39 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:205px;
}
#u40 {
  position:absolute;
  left:10px;
  top:360px;
  width:355px;
  height:205px;
}
#u41 {
  position:absolute;
  left:2px;
  top:94px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:150px;
}
#u43 {
  position:absolute;
  left:11px;
  top:360px;
  width:353px;
  height:150px;
}
#u44 {
  position:absolute;
  left:2px;
  top:67px;
  width:349px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#211551;
}
#u45 {
  position:absolute;
  left:26px;
  top:517px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#211551;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u47_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFC600;
}
#u47 {
  position:absolute;
  left:27px;
  top:540px;
  width:300px;
  height:16px;
  color:#FFC600;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u50 {
  position:absolute;
  left:343px;
  top:224px;
  width:20px;
  height:20px;
}
#u51 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:10px;
  top:219px;
  width:300px;
  height:28px;
}
#u52_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:28px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:2px;
}
#u53 {
  position:absolute;
  left:10px;
  top:250px;
  width:352px;
  height:1px;
}
#u54 {
  position:absolute;
  left:2px;
  top:-8px;
  width:348px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:205px;
}
#u56 {
  position:absolute;
  left:10px;
  top:576px;
  width:355px;
  height:205px;
}
#u57 {
  position:absolute;
  left:2px;
  top:94px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#211551;
}
#u58 {
  position:absolute;
  left:26px;
  top:733px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#211551;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u60_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFC600;
}
#u60 {
  position:absolute;
  left:27px;
  top:758px;
  width:300px;
  height:16px;
  color:#FFC600;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:150px;
}
#u62 {
  position:absolute;
  left:10px;
  top:576px;
  width:355px;
  height:150px;
}
#u63 {
  position:absolute;
  left:2px;
  top:67px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:226px;
}
#u65 {
  position:absolute;
  left:10px;
  top:795px;
  width:355px;
  height:226px;
}
#u66 {
  position:absolute;
  left:2px;
  top:105px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u67 {
  position:absolute;
  left:26px;
  top:952px;
  width:261px;
  height:19px;
  font-size:16px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u69_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u69 {
  position:absolute;
  left:27px;
  top:974px;
  width:300px;
  height:32px;
  color:#999999;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:139px;
}
#u71 {
  position:absolute;
  left:24px;
  top:806px;
  width:330px;
  height:139px;
}
#u72 {
  position:absolute;
  left:2px;
  top:62px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
