body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:604px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1233 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:604px;
}
#u1234 {
  position:absolute;
  left:2px;
  top:294px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:198px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  line-height:22px;
}
#u1235 {
  position:absolute;
  left:10px;
  top:201px;
  width:355px;
  height:198px;
  font-size:14px;
  color:#666666;
  line-height:22px;
}
#u1236 {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  word-wrap:break-word;
}
#u1237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:139px;
}
#u1237 {
  position:absolute;
  left:23px;
  top:52px;
  width:330px;
  height:139px;
}
#u1238 {
  position:absolute;
  left:2px;
  top:62px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:42px;
}
#u1239 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:42px;
}
#u1240 {
  position:absolute;
  left:2px;
  top:13px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1241 {
  position:absolute;
  left:341px;
  top:9px;
  width:24px;
  height:24px;
}
#u1242 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1243 {
  position:absolute;
  left:10px;
  top:11px;
  width:229px;
  height:19px;
  font-size:16px;
}
#u1244 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  white-space:nowrap;
}
