body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:604px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u812 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:604px;
}
#u813 {
  position:absolute;
  left:2px;
  top:294px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:308px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  line-height:22px;
}
#u814 {
  position:absolute;
  left:10px;
  top:257px;
  width:355px;
  height:308px;
  color:#666666;
  line-height:22px;
}
#u815 {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  word-wrap:break-word;
}
#u816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:188px;
}
#u816 {
  position:absolute;
  left:10px;
  top:59px;
  width:355px;
  height:188px;
}
#u817 {
  position:absolute;
  left:2px;
  top:86px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:42px;
}
#u818 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:42px;
}
#u819 {
  position:absolute;
  left:2px;
  top:13px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u820 {
  position:absolute;
  left:341px;
  top:9px;
  width:24px;
  height:24px;
}
#u821 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u822 {
  position:absolute;
  left:10px;
  top:11px;
  width:161px;
  height:19px;
  font-size:16px;
}
#u823 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
