body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:604px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1019 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:604px;
}
#u1020 {
  position:absolute;
  left:2px;
  top:294px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:191px;
}
#u1021 {
  position:absolute;
  left:1px;
  top:1px;
  width:374px;
  height:191px;
}
#u1022 {
  position:absolute;
  left:2px;
  top:88px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u1023 {
  position:absolute;
  left:52px;
  top:113px;
  width:272px;
  height:24px;
  font-size:20px;
  text-align:center;
}
#u1024 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
#u1025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u1025 {
  position:absolute;
  left:20px;
  top:465px;
  width:344px;
  height:32px;
  font-size:12px;
  color:#999999;
}
#u1026 {
  position:absolute;
  left:0px;
  top:1px;
  width:344px;
  word-wrap:break-word;
}
#u1027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u1027 {
  position:absolute;
  left:164px;
  top:33px;
  width:48px;
  height:48px;
}
#u1028 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u1029 {
  position:absolute;
  left:20px;
  top:443px;
  width:129px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u1030 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u1031 {
  position:absolute;
  left:78px;
  top:229px;
  width:228px;
  height:29px;
}
#u1031_input {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1032 {
  position:absolute;
  left:78px;
  top:289px;
  width:228px;
  height:29px;
}
#u1032_input {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1033 {
  position:absolute;
  left:35px;
  top:358px;
  width:302px;
  height:40px;
}
#u1034 {
  position:absolute;
  left:2px;
  top:12px;
  width:298px;
  word-wrap:break-word;
}
#u1035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:19px;
}
#u1035 {
  position:absolute;
  left:35px;
  top:235px;
  width:24px;
  height:19px;
}
#u1036 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:21px;
}
#u1037 {
  position:absolute;
  left:35px;
  top:293px;
  width:24px;
  height:21px;
}
#u1038 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:2px;
}
#u1039 {
  position:absolute;
  left:35px;
  top:259px;
  width:302px;
  height:1px;
}
#u1040 {
  position:absolute;
  left:2px;
  top:-8px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:2px;
}
#u1041 {
  position:absolute;
  left:35px;
  top:319px;
  width:302px;
  height:1px;
}
#u1042 {
  position:absolute;
  left:2px;
  top:-8px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
