body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:604px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u952 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:604px;
}
#u953 {
  position:absolute;
  left:2px;
  top:294px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:191px;
}
#u954 {
  position:absolute;
  left:1px;
  top:1px;
  width:374px;
  height:191px;
}
#u955 {
  position:absolute;
  left:2px;
  top:88px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u956 {
  position:absolute;
  left:52px;
  top:113px;
  width:272px;
  height:24px;
  font-size:20px;
  text-align:center;
}
#u957 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
#u958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u958 {
  position:absolute;
  left:164px;
  top:35px;
  width:48px;
  height:48px;
}
#u959 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u960 {
  position:absolute;
  left:115px;
  top:218px;
  width:191px;
  height:29px;
}
#u960_input {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u961 {
  position:absolute;
  left:115px;
  top:270px;
  width:191px;
  height:29px;
}
#u961_input {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u962 {
  position:absolute;
  left:69px;
  top:439px;
  width:239px;
  height:40px;
}
#u963 {
  position:absolute;
  left:2px;
  top:12px;
  width:235px;
  word-wrap:break-word;
}
#u964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u964 {
  position:absolute;
  left:67px;
  top:270px;
  width:24px;
  height:24px;
}
#u965 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:2px;
}
#u966 {
  position:absolute;
  left:67px;
  top:248px;
  width:239px;
  height:1px;
}
#u967 {
  position:absolute;
  left:2px;
  top:-8px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:2px;
}
#u968 {
  position:absolute;
  left:67px;
  top:300px;
  width:239px;
  height:1px;
}
#u969 {
  position:absolute;
  left:2px;
  top:-8px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u970 {
  position:absolute;
  left:68px;
  top:220px;
  width:23px;
  height:23px;
}
#u971 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u972 {
  position:absolute;
  left:115px;
  top:324px;
  width:191px;
  height:29px;
}
#u972_input {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:2px;
}
#u973 {
  position:absolute;
  left:67px;
  top:354px;
  width:239px;
  height:1px;
}
#u974 {
  position:absolute;
  left:2px;
  top:-8px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u975 {
  position:absolute;
  left:115px;
  top:381px;
  width:191px;
  height:29px;
}
#u975_input {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u976 {
  position:absolute;
  left:67px;
  top:381px;
  width:24px;
  height:24px;
}
#u977 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:2px;
}
#u978 {
  position:absolute;
  left:67px;
  top:411px;
  width:239px;
  height:1px;
}
#u979 {
  position:absolute;
  left:2px;
  top:-8px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:19px;
}
#u980 {
  position:absolute;
  left:67px;
  top:329px;
  width:24px;
  height:19px;
}
#u981 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u982 {
  position:absolute;
  left:15px;
  top:528px;
  width:129px;
  height:16px;
  color:#666666;
}
#u983 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u984 {
  position:absolute;
  left:15px;
  top:549px;
  width:346px;
  height:32px;
  color:#999999;
}
#u985 {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  word-wrap:break-word;
}
