body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:604px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u943 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:604px;
}
#u944 {
  position:absolute;
  left:2px;
  top:294px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:191px;
}
#u945 {
  position:absolute;
  left:1px;
  top:1px;
  width:374px;
  height:191px;
}
#u946 {
  position:absolute;
  left:2px;
  top:88px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u947 {
  position:absolute;
  left:52px;
  top:113px;
  width:272px;
  height:24px;
  font-size:20px;
  text-align:center;
}
#u948 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
#u949 {
  position:absolute;
  left:77px;
  top:218px;
  width:229px;
  height:29px;
}
#u949_input {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u950 {
  position:absolute;
  left:77px;
  top:278px;
  width:229px;
  height:29px;
}
#u950_input {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u951 {
  position:absolute;
  left:35px;
  top:462px;
  width:302px;
  height:40px;
}
#u952 {
  position:absolute;
  left:2px;
  top:12px;
  width:298px;
  word-wrap:break-word;
}
#u953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u953 {
  position:absolute;
  left:35px;
  top:278px;
  width:24px;
  height:24px;
}
#u954 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:2px;
}
#u955 {
  position:absolute;
  left:35px;
  top:248px;
  width:302px;
  height:1px;
}
#u956 {
  position:absolute;
  left:2px;
  top:-8px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:2px;
}
#u957 {
  position:absolute;
  left:35px;
  top:308px;
  width:302px;
  height:1px;
}
#u958 {
  position:absolute;
  left:2px;
  top:-8px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u959 {
  position:absolute;
  left:156px;
  top:29px;
  width:64px;
  height:64px;
}
#u960 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u961 {
  position:absolute;
  left:36px;
  top:220px;
  width:23px;
  height:23px;
}
#u962 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u963 {
  position:absolute;
  left:77px;
  top:342px;
  width:229px;
  height:29px;
}
#u963_input {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:2px;
}
#u964 {
  position:absolute;
  left:35px;
  top:372px;
  width:302px;
  height:1px;
}
#u965 {
  position:absolute;
  left:2px;
  top:-8px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u966 {
  position:absolute;
  left:77px;
  top:404px;
  width:229px;
  height:29px;
}
#u966_input {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u967 {
  position:absolute;
  left:35px;
  top:404px;
  width:24px;
  height:24px;
}
#u968 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:2px;
}
#u969 {
  position:absolute;
  left:35px;
  top:434px;
  width:302px;
  height:1px;
}
#u970 {
  position:absolute;
  left:2px;
  top:-8px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:19px;
}
#u971 {
  position:absolute;
  left:35px;
  top:347px;
  width:24px;
  height:19px;
}
#u972 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
