body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:604px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1043 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:604px;
}
#u1044 {
  position:absolute;
  left:2px;
  top:294px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:191px;
}
#u1045 {
  position:absolute;
  left:1px;
  top:1px;
  width:374px;
  height:191px;
}
#u1046 {
  position:absolute;
  left:2px;
  top:88px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u1047 {
  position:absolute;
  left:52px;
  top:113px;
  width:272px;
  height:24px;
  font-size:20px;
  text-align:center;
}
#u1048 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
#u1049 {
  position:absolute;
  left:77px;
  top:218px;
  width:229px;
  height:29px;
}
#u1049_input {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1050 {
  position:absolute;
  left:77px;
  top:278px;
  width:229px;
  height:29px;
}
#u1050_input {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1051 {
  position:absolute;
  left:35px;
  top:462px;
  width:302px;
  height:40px;
}
#u1052 {
  position:absolute;
  left:2px;
  top:12px;
  width:298px;
  word-wrap:break-word;
}
#u1053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1053 {
  position:absolute;
  left:35px;
  top:278px;
  width:24px;
  height:24px;
}
#u1054 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:2px;
}
#u1055 {
  position:absolute;
  left:35px;
  top:248px;
  width:302px;
  height:1px;
}
#u1056 {
  position:absolute;
  left:2px;
  top:-8px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:2px;
}
#u1057 {
  position:absolute;
  left:35px;
  top:308px;
  width:302px;
  height:1px;
}
#u1058 {
  position:absolute;
  left:2px;
  top:-8px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u1059 {
  position:absolute;
  left:156px;
  top:29px;
  width:64px;
  height:64px;
}
#u1060 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u1061 {
  position:absolute;
  left:36px;
  top:220px;
  width:23px;
  height:23px;
}
#u1062 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1063 {
  position:absolute;
  left:77px;
  top:342px;
  width:229px;
  height:29px;
}
#u1063_input {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:2px;
}
#u1064 {
  position:absolute;
  left:35px;
  top:372px;
  width:302px;
  height:1px;
}
#u1065 {
  position:absolute;
  left:2px;
  top:-8px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1066 {
  position:absolute;
  left:77px;
  top:404px;
  width:229px;
  height:29px;
}
#u1066_input {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1067 {
  position:absolute;
  left:35px;
  top:404px;
  width:24px;
  height:24px;
}
#u1068 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:2px;
}
#u1069 {
  position:absolute;
  left:35px;
  top:434px;
  width:302px;
  height:1px;
}
#u1070 {
  position:absolute;
  left:2px;
  top:-8px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:19px;
}
#u1071 {
  position:absolute;
  left:35px;
  top:347px;
  width:24px;
  height:19px;
}
#u1072 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
