body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:596px;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:596px;
}
#u1 {
  position:absolute;
  left:2px;
  top:290px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:188px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:188px;
}
#u3 {
  position:absolute;
  left:2px;
  top:86px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:88px;
}
#u4 {
  position:absolute;
  left:26px;
  top:140px;
  width:88px;
  height:88px;
}
#u5 {
  position:absolute;
  left:2px;
  top:36px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#211551;
}
#u6 {
  position:absolute;
  left:26px;
  top:256px;
  width:97px;
  height:28px;
  font-size:24px;
  color:#211551;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u8 {
  position:absolute;
  left:26px;
  top:28px;
  width:28px;
  height:28px;
}
#u9 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#FFFFFF;
}
#u10 {
  position:absolute;
  left:76px;
  top:28px;
  width:121px;
  height:28px;
  font-size:24px;
  color:#FFFFFF;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFC600;
}
#u12 {
  position:absolute;
  left:26px;
  top:66px;
  width:43px;
  height:22px;
  font-size:18px;
  color:#FFC600;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFC600;
}
#u14 {
  position:absolute;
  left:79px;
  top:66px;
  width:264px;
  height:22px;
  font-size:18px;
  color:#FFC600;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  word-wrap:break-word;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u16 {
  position:absolute;
  left:26px;
  top:300px;
  width:115px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u18_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u18 {
  position:absolute;
  left:26px;
  top:329px;
  width:201px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u20 {
  position:absolute;
  left:26px;
  top:361px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#211551;
}
#u22 {
  position:absolute;
  left:26px;
  top:444px;
  width:97px;
  height:28px;
  font-size:24px;
  color:#211551;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:21px;
}
#u24 {
  position:absolute;
  left:26px;
  top:391px;
  width:300px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u26_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u26 {
  position:absolute;
  left:322px;
  top:254px;
  width:30px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u28_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u28 {
  position:absolute;
  left:26px;
  top:482px;
  width:115px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u30_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u30 {
  position:absolute;
  left:26px;
  top:511px;
  width:147px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u32_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#211551;
}
#u32 {
  position:absolute;
  left:26px;
  top:555px;
  width:49px;
  height:28px;
  font-size:24px;
  color:#211551;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u34_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u34 {
  position:absolute;
  left:322px;
  top:439px;
  width:30px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u36_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u36 {
  position:absolute;
  left:322px;
  top:553px;
  width:30px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
